.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.contact-left h1{
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(267deg,#da7c25 0.36%,#800187 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 30px;
}

.p-details{
    display:  flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;

}

.p-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 24px;
    font-weight: 400;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 50px;
    padding-left: 20px;
    border-radius: 20px;
    background: #32323c;
    color: #A0A0A0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.contact-right textarea{
    width: 650px;
    border: none;
    padding: 20px;
    border-radius: 20px;
    background: #32323c;
    color: #A0A0A0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.contact-right button{
    border: none;
    color: white;
    border-radius: 50px;
    background:  linear-gradient(267deg,#da7c25 0.36%,#800187 100%);
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-right button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;

    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;

    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;

    }
    .contact-left p{
        font-size: 18px;

    }
    .p-detail{
        gap: 20px;

    }

    .p-details{
        width: 25px;
    }

    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;

    }

    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }

    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}