.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 150px;
}

.nav-menu{
    display: flex;
    /* align-items: center; */
    list-style: none;
    gap: 200px; 
    justify-content: space-between;
    font-size: 20px;
    
}

/* .nav-connect{
    margin-left: 80px;
    padding: 10px 40px;
    border-radius: 20px;
    background: linear-gradient(267deg,#da7c25 0.36%,#800187 100%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
} */

/* .nav-connect:hover{
    transform: scale(1.05);
} */

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;

}

.anchorlink{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    /* .nav-connect{
        display: none;
    } */
     .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
     }

     .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;

     }

     .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        }

    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 10px;
    }
}